.DS_Store
obj/
*/obj/
out/
*/out/
build/
*/buuld/
bin/
*/bin/
gen/
*/gen/
tests/
*/tests/

local.properties
.idea/
.vscode/
minibae/.vscode/
minibae/.vs/
minibae/src/miniBAEDroid/.gradle/
