[submodule "minibae/src/thirdparty/minimp3"]
	path = minibae/src/thirdparty/minimp3
	url = https://github.com/lieff/minimp3.git
[submodule "minibae/src/thirdparty/rtmidi"]
	path = minibae/src/thirdparty/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "minibae/src/thirdparty/libogg"]
	path = minibae/src/thirdparty/libogg
	url = https://github.com/xiph/ogg
[submodule "minibae/src/thirdparty/libvorbis"]
	path = minibae/src/thirdparty/libvorbis
	url = https://github.com/xiph/vorbis
