.DS_Store
obj/
*/obj/
out/
*/out/
build/
*/build/
gen/
*/gen/
tests/
*/tests/
*/__pycache__/

local.properties
.idea/
.vscode/
minibae/bin/
minibae/out/
minibae/.vscode/
minibae/.vs/
minibae/src/miniBAEDroid/.gradle/
minibae/src/thirdparty/bassmidi/
