.DS_Store
obj/
*/obj/
out/
*/out/
build/
*/build/
gen/
*/gen/
tests/
*/tests/
*/__pycache__/

local.properties
.idea/
neobae/bin/
neobae/out/
neobae/.vscode/
neobae/.vs/
neobae/src/NeoBAEDroid/.gradle/
neobae/src/thirdparty/bassmidi/

neobae/src/NeoBAEDroid/NeoBAEDroid.iws
neobae/src/NeoBAEDroid/NeoBAEDroid.ipr
neobae/src/NeoBAEDroid/app/release/
